In [1]:
%env SPARK_VERSION=3.0.0

env: SPARK_VERSION=3.0.0

In [2]:
import pydeequ

from pyspark.sql import SparkSession, Row

# TODO create spark session with jdbc driver path

In [3]:
server_name = "jdbc:sqlserver://host.docker.internal"
database_name = "TRN"
jdbc_url = server_name + ";" + "databaseName=" + database_name + ";trustServerCertificate=True;"

table_name = "hr.employees"
username = "DQTestUser"
password = "DQTesting111" # Please specify password here
connection_details = { "user": username, "password": password, "driver": "com.microsoft.sqlserver.jdbc.SQLServerDriver", }

spark = (SparkSession
    .builder
    .config("spark.jars.packages", pydeequ.deequ_maven_coord)
    .config("spark.jars.excludes", pydeequ.f2j_maven_coord)
    .config("spark.driver.extraClassPath", "/home/jars/sqlserver/sqlserverjdbc.jar")
    .getOrCreate())

df = spark.read.jdbc(url=jdbc_url, table=table_name, properties=connection_details)

In [4]:
df.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- job_id: integer (nullable = true)
 |-- salary: decimal(8,2) (nullable = true)
 |-- manager_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)

In [5]:
df.show(20,False)

+-----------+-----------+----------+---------------------------------+------------+----------+------+--------+----------+-------------+
|employee_id|first_name |last_name |email                            |phone_number|hire_date |job_id|salary  |manager_id|department_id|
+-----------+-----------+----------+---------------------------------+------------+----------+------+--------+----------+-------------+
|100        |Steven     |King      |steven.king@sqltutorial.org      |515.123.4567|1987-06-17|4     |24000.00|null      |9            |
|101        |Neena      |Kochhar   |neena.kochhar@sqltutorial.org    |515.123.4568|1989-09-21|5     |17000.00|100       |9            |
|102        |Lex        |De Haan   |lex.de haan@sqltutorial.org      |515.123.4569|1993-01-13|5     |17000.00|100       |9            |
|103        |Alexander  |Hunold    |alexander.hunold@sqltutorial.org |590.423.4567|1990-01-03|9     |9000.00 |102       |6            |
|104        |Bruce      |Ernst     |bruce.ernst@sqltutorial.org      |590.423.4568|1991-05-21|9     |6000.00 |103       |6            |
|105        |David      |Austin    |david.austin@sqltutorial.org     |590.423.4569|1997-06-25|9     |4800.00 |103       |6            |
|106        |Valli      |Pataballa |valli.pataballa@sqltutorial.org  |590.423.4560|1998-02-05|9     |4800.00 |103       |6            |
|107        |Diana      |Lorentz   |diana.lorentz@sqltutorial.org    |590.423.5567|1999-02-07|9     |4200.00 |103       |6            |
|108        |Nancy      |Greenberg |nancy.greenberg@sqltutorial.org  |515.124.4569|1994-08-17|7     |12000.00|101       |10           |
|109        |Daniel     |Faviet    |daniel.faviet@sqltutorial.org    |515.124.4169|1994-08-16|6     |9000.00 |108       |10           |
|110        |John       |Chen      |john.chen@sqltutorial.org        |515.124.4269|1997-09-28|6     |8200.00 |108       |10           |
|111        |Ismael     |Sciarra   |ismael.sciarra@sqltutorial.org   |515.124.4369|1997-09-30|6     |7700.00 |108       |10           |
|112        |Jose Manuel|Urman     |jose manuel.urman@sqltutorial.org|515.124.4469|1998-03-07|6     |7800.00 |108       |10           |
|113        |Luis       |Popp      |luis.popp@sqltutorial.org        |515.124.4567|1999-12-07|6     |6900.00 |108       |10           |
|114        |Den        |Raphaely  |den.raphaely@sqltutorial.org     |515.127.4561|1994-12-07|14    |11000.00|100       |3            |
|115        |Alexander  |Khoo      |alexander.khoo@sqltutorial.org   |515.127.4562|1995-05-18|13    |3100.00 |114       |3            |
|116        |Shelli     |Baida     |shelli.baida@sqltutorial.org     |515.127.4563|1997-12-24|13    |2900.00 |114       |3            |
|117        |Sigal      |Tobias    |sigal.tobias@sqltutorial.org     |515.127.4564|1997-07-24|13    |2800.00 |114       |3            |
|118        |Guy        |Himuro    |guy.himuro@sqltutorial.org       |515.127.4565|1998-11-15|13    |2600.00 |114       |3            |
|119        |Karen      |Colmenares|karen.colmenares@sqltutorial.org |515.127.4566|1999-08-10|13    |2500.00 |114       |3            |
+-----------+-----------+----------+---------------------------------+------------+----------+------+--------+----------+-------------+
only showing top 20 rows

In [6]:
### Data Analyzers section
# TODO analyze data here
from pydeequ.analyzers import *

analysisResult = AnalysisRunner(spark) \
    .onData(df) \
    .addAnalyzer(Size()) \
    .addAnalyzer(ApproxCountDistinct("employee_id")) \
    .addAnalyzer(Completeness("employee_id")) \
    .addAnalyzer(ApproxCountDistinct("job_id")) \
    .addAnalyzer(Completeness("first_name,last_name")) \
    .addAnalyzer(MinLength("first_name")) \
    .addAnalyzer(MinLength("last_name")) \
    .addAnalyzer(Completeness("email")) \
    .addAnalyzer(Completeness("phone_number")) \
    .addAnalyzer(Completeness("hire_date")) \
    .addAnalyzer(Completeness("job_id")) \
    .addAnalyzer(Mean("salary")) \
    .addAnalyzer(Completeness("salary")) \
    .addAnalyzer(Compliance("salary", "salary > 0")) \
    .addAnalyzer(Completeness("department_id")) \
    .run()
                    
                    
analysisResult_df = AnalyzerContext.successMetricsAsDataFrame(spark, analysisResult)
analysisResult_df.show()

+-------+-------------+-------------------+------------------+
| entity|     instance|               name|             value|
+-------+-------------+-------------------+------------------+
| Column|       job_id|ApproxCountDistinct|              19.0|
| Column|       job_id|       Completeness|               1.0|
| Column|       salary|         Compliance|0.9318181818181818|
| Column|  employee_id|ApproxCountDistinct|              44.0|
| Column|  employee_id|       Completeness|               1.0|
| Column|    hire_date|       Completeness|               1.0|
| Column|department_id|       Completeness|               1.0|
| Column|    last_name|          MinLength|               3.0|
| Column|        email|       Completeness|               1.0|
|Dataset|            *|               Size|              44.0|
| Column| phone_number|       Completeness|0.8636363636363636|
| Column|       salary|               Mean| 7327.278409090909|
| Column|       salary|       Completeness|               1.0|
| Column|   first_name|          MinLength|               3.0|
+-------+-------------+-------------------+------------------+

In [7]:
analysisResult_pandas_df = AnalyzerContext.successMetricsAsDataFrame(spark, analysisResult, pandas=True)
analysisResult_pandas_df

     entity       instance                 name        value
0    Column         job_id  ApproxCountDistinct    19.000000
1    Column         job_id         Completeness     1.000000
2    Column         salary           Compliance     0.931818
3    Column    employee_id  ApproxCountDistinct    44.000000
4    Column    employee_id         Completeness     1.000000
5    Column      hire_date         Completeness     1.000000
6    Column  department_id         Completeness     1.000000
7    Column      last_name            MinLength     3.000000
8    Column          email         Completeness     1.000000
9   Dataset              *                 Size    44.000000
10   Column   phone_number         Completeness     0.863636
11   Column         salary                 Mean  7327.278409
12   Column         salary         Completeness     1.000000
13   Column     first_name            MinLength     3.000000

In [8]:
### Data profiling section
# TODO profile data here
from pydeequ.profiles import *

result = ColumnProfilerRunner(spark) \
    .onData(df) \
    .run()

#for col, profile in result.profiles.items():
#    print(col)

for col, profile in result.profiles.items():
    print("Column '{}':\n ".format(col) +
        "\tcompleteness: {}\n".format(profile.completeness) +
        "\tapproximate number of distinct values: {}\n".format(profile.approximateNumDistinctValues) +
        "\tdatatype: {}\n".format(profile.dataType) +
        ("\tmean: {}\n".format(profile.mean) if profile.dataType == 'Integral' else '') +
        ("\tmax: {}\n".format(profile.maximum) if profile.dataType == 'Integral' else '' ) +
        ("\tmin: {}\n".format(profile.minimum)if profile.dataType == 'Integral' else '' ) +
        ("\tsum: {}\n".format(profile.sum) if profile.dataType == 'Integral' else '' )
         )

Column 'first_name':
 	completeness: 1.0
	approximate number of distinct values: 39
	datatype: String

Column 'employee_id':
 	completeness: 1.0
	approximate number of distinct values: 44
	datatype: Integral
	mean: 146.4318181818182
	max: 210.0
	min: 100.0
	sum: 6443.0

Column 'hire_date':
 	completeness: 1.0
	approximate number of distinct values: 39
	datatype: Unknown

Column 'manager_id':
 	completeness: 0.9772727272727273
	approximate number of distinct values: 10
	datatype: Integral
	mean: 119.09302325581395
	max: 205.0
	min: 100.0
	sum: 5121.0

Column 'phone_number':
 	completeness: 0.8636363636363636
	approximate number of distinct values: 36
	datatype: String

Column 'email':
 	completeness: 1.0
	approximate number of distinct values: 45
	datatype: String

Column 'department_id':
 	completeness: 1.0
	approximate number of distinct values: 11
	datatype: Integral
	mean: 6.818181818181818
	max: 11.0
	min: 1.0
	sum: 300.0

Column 'job_id':
 	completeness: 1.0
	approximate number of distinct values: 19
	datatype: Integral
	mean: 10.181818181818182
	max: 19.0
	min: 1.0
	sum: 448.0

Column 'salary':
 	completeness: 1.0
	approximate number of distinct values: 35
	datatype: Fractional

Column 'last_name':
 	completeness: 1.0
	approximate number of distinct values: 42
	datatype: String

In [9]:
### Constraint Suggestions section
# TODO find meaninful constraints here
from pydeequ.suggestions import *
from pyspark.sql import Row

suggestionResult = ConstraintSuggestionRunner(spark) \
             .onData(df) \
             .addConstraintRule(DEFAULT()) \
             .run()

# Constraint Suggestions in JSON format
#print(suggestionResult)
suggdf = spark.createDataFrame(Row(**x) for x in suggestionResult['constraint_suggestions']) #.show(truncate=False)
suggdf.sort("column_name","current_value").select('column_name','current_value','description','code_for_constraint').show(truncate=False)

+-------------+--------------------------------------+---------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------+
|column_name  |current_value                         |description                                                                                              |code_for_constraint                                                                                                             |
+-------------+--------------------------------------+---------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------+
|department_id|Completeness: 1.0                     |'department_id' is not null                                                                              |.isComplete("department_id")                                                                                                    |
|department_id|Compliance: 0.9318181818181818        |'department_id' has value range '5', '3', '10', '11', '8', '6', '9', '2' for at least 85.0% of values    |.isContainedIn("department_id", ["5", "3", "10", "11", "8", "6", "9", "2"], lambda x: x >= 0.85, "It should be above 0.85!")    |
|department_id|Minimum: 1.0                          |'department_id' has no negative values                                                                   |.isNonNegative("department_id")                                                                                                 |
|email        |ApproxDistinctness: 1.0227272727272727|'email' is unique                                                                                        |.isUnique("email")                                                                                                              |
|email        |Completeness: 1.0                     |'email' is not null                                                                                      |.isComplete("email")                                                                                                            |
|employee_id  |ApproxDistinctness: 1.0               |'employee_id' is unique                                                                                  |.isUnique("employee_id")                                                                                                        |
|employee_id  |Completeness: 1.0                     |'employee_id' is not null                                                                                |.isComplete("employee_id")                                                                                                      |
|employee_id  |Minimum: 100.0                        |'employee_id' has no negative values                                                                     |.isNonNegative("employee_id")                                                                                                   |
|first_name   |Completeness: 1.0                     |'first_name' is not null                                                                                 |.isComplete("first_name")                                                                                                       |
|hire_date    |Completeness: 1.0                     |'hire_date' is not null                                                                                  |.isComplete("hire_date")                                                                                                        |
|job_id       |Completeness: 1.0                     |'job_id' is not null                                                                                     |.isComplete("job_id")                                                                                                           |
|job_id       |Minimum: 1.0                          |'job_id' has no negative values                                                                          |.isNonNegative("job_id")                                                                                                        |
|last_name    |ApproxDistinctness: 0.9545454545454546|'last_name' is unique                                                                                    |.isUnique("last_name")                                                                                                          |
|last_name    |Completeness: 1.0                     |'last_name' is not null                                                                                  |.isComplete("last_name")                                                                                                        |
|manager_id   |Completeness: 0.9772727272727273      |'manager_id' has less than 6% missing values                                                             |.hasCompleteness("manager_id", lambda x: x >= 0.93, "It should be above 0.93!")                                                 |
|manager_id   |Compliance: 0.9090909090909092        |'manager_id' has value range '100', '114', '101', '108', '205', '103', '123' for at least 82.0% of values|.isContainedIn("manager_id", ["100", "114", "101", "108", "205", "103", "123"], lambda x: x >= 0.82, "It should be above 0.82!")|
|manager_id   |Minimum: 100.0                        |'manager_id' has no negative values                                                                      |.isNonNegative("manager_id")                                                                                                    |
|phone_number |Completeness: 0.8636363636363636      |'phone_number' has less than 24% missing values                                                          |.hasCompleteness("phone_number", lambda x: x >= 0.76, "It should be above 0.76!")                                               |
|salary       |Completeness: 1.0                     |'salary' is not null                                                                                     |.isComplete("salary")                                                                                                           |
|salary       |Minimum: 0.0                          |'salary' has no negative values                                                                          |.isNonNegative("salary")                                                                                                        |
+-------------+--------------------------------------+---------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------+

In [14]:
### Constraint Verification section
# TODO check selected constraints here and make beautify the report
from pydeequ.checks import *
from pydeequ.verification import *

check = Check(spark, CheckLevel.Warning, "Review Check")

checkResult = VerificationSuite(spark) \
    .onData(df) \
    .addCheck(
        check \
        .hasMin("job_id", lambda x: x >= 1) \
        .hasMin("department_id", lambda x: x >= 1) \
        .hasMin("employee_id", lambda x: x >= 1) \
        .hasMin("job_id", lambda x: x >= 1) \
        .hasMin("manager_id", lambda x: x >= 1) \
        .isComplete("department_id")  \
        #.isNonNegative("department_id") \
        .isComplete("email") \
        .isUnique("employee_id")  \
        .isComplete("employee_id") \
        #.isNonNegative("employee_id") \
        .isComplete("first_name") \
        .isComplete("hire_date") \
        .isComplete("job_id") \
        #.isNonNegative("job_id") \
        #.isNonNegative("manager_id") \
        .isUnique("last_name") \
        .isComplete("last_name") \
        .hasCompleteness("phone_number", lambda x: x >= 0.75, "It should be above 0.75!") \
        .isComplete("salary") \
        .isNonNegative("salary") \
        .hasMinLength("first_name", lambda x: x == 3) \
        .hasMinLength("last_name", lambda x: x == 3)  \
    ) \
    .run()

checkResult_df = VerificationResult.checkResultsAsDataFrame(spark, checkResult)
checkResult_df.show(truncate=False)

<pydeequ.checks.Check object at 0x7f49e040c8e0>
+------------+-----------+------------+----------------------------------------------------------------------------------------------------------------+-----------------+------------------+
|check       |check_level|check_status|constraint                                                                                                      |constraint_status|constraint_message|
+------------+-----------+------------+----------------------------------------------------------------------------------------------------------------+-----------------+------------------+
|Review Check|Warning    |Success     |MinimumConstraint(Minimum(job_id,None))                                                                         |Success          |                  |
|Review Check|Warning    |Success     |MinimumConstraint(Minimum(department_id,None))                                                                  |Success          |                  |
|Review Check|Warning    |Success     |MinimumConstraint(Minimum(employee_id,None))                                                                    |Success          |                  |
|Review Check|Warning    |Success     |MinimumConstraint(Minimum(job_id,None))                                                                         |Success          |                  |
|Review Check|Warning    |Success     |MinimumConstraint(Minimum(manager_id,None))                                                                     |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(department_id,None))                                                        |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(email,None))                                                                |Success          |                  |
|Review Check|Warning    |Success     |UniquenessConstraint(Uniqueness(List(employee_id),None))                                                        |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(employee_id,None))                                                          |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(first_name,None))                                                           |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(hire_date,None))                                                            |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(job_id,None))                                                               |Success          |                  |
|Review Check|Warning    |Success     |UniquenessConstraint(Uniqueness(List(last_name),None))                                                          |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(last_name,None))                                                            |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(phone_number,None))                                                         |Success          |                  |
|Review Check|Warning    |Success     |CompletenessConstraint(Completeness(salary,None))                                                               |Success          |                  |
|Review Check|Warning    |Success     |ComplianceConstraint(Compliance(salary is non-negative,COALESCE(CAST(salary AS DECIMAL(20,10)), 0.0) >= 0,None))|Success          |                  |
|Review Check|Warning    |Success     |MinLengthConstraint(MinLength(first_name,None))                                                                 |Success          |                  |
|Review Check|Warning    |Success     |MinLengthConstraint(MinLength(last_name,None))                                                                  |Success          |                  |
+------------+-----------+------------+----------------------------------------------------------------------------------------------------------------+-----------------+------------------+

In [15]:
checkResult_pandas_df = VerificationResult.successMetricsAsDataFrame(spark, checkResult, pandas=True)
checkResult_pandas_df

    entity                instance          name       value
0   Column             employee_id    Uniqueness    1.000000
1   Column                  job_id       Minimum    1.000000
2   Column                  job_id  Completeness    1.000000
3   Column             employee_id       Minimum  100.000000
4   Column             employee_id  Completeness    1.000000
5   Column               hire_date  Completeness    1.000000
6   Column  salary is non-negative    Compliance    1.000000
7   Column               last_name    Uniqueness    1.000000
8   Column           department_id       Minimum    1.000000
9   Column           department_id  Completeness    1.000000
10  Column               last_name  Completeness    1.000000
11  Column               last_name     MinLength    3.000000
12  Column                   email  Completeness    1.000000
13  Column            phone_number  Completeness    0.863636
14  Column              manager_id       Minimum  100.000000
15  Column                  salary  Completeness    1.000000
16  Column              first_name  Completeness    1.000000
17  Column              first_name     MinLength    3.000000